<div class="home-container">
    <h1>{{ title }}</h1>
    <div *ngFor="let character of characters" class="character-card">
        <a [routerLink]="['/character', character.id]">
            <img [src]="character.image" alt="{{ character.name }}"
                class="character-image">
            <div class="character-details">
                <h2>{{ character.name }}</h2>
                <p>Status: {{ character.status }}</p>
                <p>Species: {{ character.species }}</p>
                <p>Gender: {{ character.gender }}</p>
            </div>
        </a>
    </div>
</div>
